.ram{
  background-color: black;
  width: 100%;
  height: 100%;
  position: absolute;
  left: -0.01%;
  top: 0.1px;
  

}
.SATR{
  color: white;
  position: absolute;
  left: 8%;
  top: 6%;
  font-size: 140%;
}
.ram1{
  background-color: rgba(239, 239, 239, 0.107);
  width: 96%;
  height: 70%;
  position: absolute;
  top: 18%;
  left: 2%;
  border-radius: 20px;
  box-shadow: 10px 19px 7px rgba(0, 0, 0, 0.091);

}
.odam{
  background-color: rgba(0, 0, 0, 0.096);
  width: 20%;
  height:10%;
  position: absolute;
  top: 90%;
  border: none;
  left: 10%;
  border-radius: 10px;
}
.imf{
  top: 990%;
  width: 100%;
  height: 90%;
  border-radius: 16px;
}
.statistika{
  background-color: rgba(198, 198, 198, 0.096);
  width: 20%;
  height:10%;
  position: absolute;
  top: 90%;
  border: none;
  left: 70%;
  border-radius: 10px;
}
.img2{
  top: 9%;
  width: 100%;
  height: 90%;
  border-radius: 16px;
}
.odm{
  background-color: rgb(0, 220, 0) ;
  border: none;
  position: absolute;
  top: 10%;
  left: 80%;
  border-radius: 10px;
  width: 14%;
  height: 6%;
  color: white;
  font-size: 180%;

}
.ISM{
  position: absolute;
  top: 30%;
  left: 10%;
  width: 80%;
  height: 6%;
  border-radius: 10PX;
  background-color: rgba(255, 255, 255, 0.564);
  font-size: 15PX;
}
.SM{
  color: aliceblue;
  position: absolute;
  top: 20%;
  font-size: 20PX;
  left: 10%;
}
.SNF{
  color: aliceblue;
  Position: absolute;
  top: 37%;
  left: 10%;
  

}
.A8{
  position: absolute;
  background-color: blue;
  color: aliceblue;
  width: 14%;
  height: 6%;
  position: absolute;
  top: 45%;
  left: 20%;
  border-radius: 10px;;
  
}
.B8{
    position: absolute;
  background-color: blue;
  color: aliceblue;
  width: 14%;
  height: 6%;
  position: absolute;
  top: 45%;
  left: 15PX;

  border-radius: 10px;;

}
.A9{
      position: absolute;
  background-color: blue;
  color: aliceblue;
  width: 14%;
  height: 6%;
  position: absolute;
  top: 45%;
  left: 36%;
  border-radius: 10px;;


}
.B9{
        position: absolute;
  border-radius: 10px;;

  background-color: blue;
  color: aliceblue;
  width: 14%;
  height: 6%;
  position: absolute;
  top: 45%;
  left: 52%
}
.A10{
  position: absolute;
  background-color: blue;
  color: aliceblue;
  width: 14%;
  height: 6%;
  position: absolute;
  top: 45%;
  left: 68%;
  border-radius: 10px;
}
.A11{
  position: absolute;
  background-color: blue;
  color: aliceblue;
  width: 14%;
  height: 6%;
  position: absolute;
  top: 45%;
  left: 83.5%;
    border-radius: 10px;
}

body {
background: black;
color: white;
margin: 0;
font-family: Arial, sans-serif;
}


.ram {
padding: 20px;
}


.ramka {
max-width: 500px;
margin: auto;
}


.SATR {
text-align: center;
font-size: 28px;
margin-bottom: 20px;
}


.odam, .statistika {
background: transparent;
border: none;
margin: 10px;
}


.odm {
width: 55px;
height: 55px;
font-size: 30px;
border-radius: 50%;
background: green;
border: none;
color: white;
cursor: pointer;
}


.modal-bg {
display: none;
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgba(0,0,0,0.95);
z-index: 999;
}


.modal-box {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: 90%;
max-width: 400px;
background: #111;
padding: 20px;
border-radius: 20px;
text-align: center;
}


.sinf-grid {
display: grid;
grid-template-columns: 1fr 1fr;
gap: 15px;
margin: 20px 0;
}


.sinf-grid button {
padding: 18px;
background: blue;
}


.odam2{
    background-color: rgba(0, 0, 0, 0.096);
  width: 20%;
  height:10%;
  position: absolute;
  top: 96%;
  border: none;
  left: 10%;
  border-radius: 10px;
}
.statistika1{
  background-color: rgba(198, 198, 198, 0.096);
  width: 20%;
  height:10%;
  position: absolute;
  top: 96%;
  border: none;
  left: 70%;
  border-radius: 10px;}